@page
@model ADMIN.ITEGAMAX._4._0.Areas.database.Pages.StSocialMedias.IndexModel
@{
    ViewData["Title"] = "st_social_media";
}

<!-- Page Header -->
<div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
    <div>
        <h4 class="mb-0">Datatabell: @ViewData["Title"]</h4>
        <p class="mb-0 text-muted">Denna sida innehåller alla rader i tabellen nedan</p>
    </div>
    <div class="main-dashboard-header-right">
        <div>
            <label class="fs-13 text-muted">Totalt antal</label>
            <h5 class="mb-0 fw-semibold">@Model.TotalItems</h5>
        </div>
    </div>
</div>

<!-- Database Table -->
<div class="row">
    <div class="col-xl-12">
        <div class="card custom-card">
            <div class="card-body">
                <div class="table-responsive">
                    <a asp-page="./New" id="addRow" class="btn btn-primary mb-2  mb-1 p-2">Lägg till post</a>
                    <table id="datatable-basic" class="table border table-bordered text-nowrap w-100">
                        <thead>
                            <tr>
                                <th>
                                    <a>
                                        ID
                                    </a>
                                </th>
                                <th>
                                    <a>
                                        Namn
                                    </a>
                                </th>
                                <th>
                                    <a>
                                        Förkortning
                                    </a>
                                </th>
                                <th>
                                    <a>
                                        Status
                                    </a>
                                </th>
                                <th class="th-center-45">Visa</th>
                                <th class="th-center-45">Redigera</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.StSocialMedias != null && Model.StSocialMedias.Any())
                            {
                                @foreach (var StSocialMedia in Model.StSocialMedias)
                                {
                                    <tr>
                                        <td>@StSocialMedia.StSocialMediaId</td>
                                        <td>@StSocialMedia.StSocialMediaName</td>
                                        <td>@StSocialMedia.StSocialMediaShort</td>
                                        <td>
                                            @{
                                                switch (StSocialMedia.StSocialMediaStatus)

                                                {

                                                    case 1:
                                                        <span class="fw-bold text-warning d-flex justify-content-center">
                                                            <i class="ri-close-circle-line me-1"></i> Inaktiv
                                                        </span>
                                                        break;

                                                    case 2:
                                                        <span class="fw-bold text-danger d-flex justify-content-center">
                                                            <i class="ri-error-warning-line me-1"></i> Dold
                                                        </span>
                                                        break;

                                                    case 3:
                                                        <span class="fw-bold text-success d-flex justify-content-center">
                                                            <i class="ri-check-line me-1"></i> Aktiv
                                                        </span>
                                                        break;
                                                }
                                            }
                                        </td>
                                        <td class="text-center">
                                            <a role="button" class="ri-eye-line cursor-pointer" asp-page="./View" asp-route-id="@StSocialMedia.StSocialMediaId"></a>
                                        </td>
                                        <td class="text-center">
                                            <a role="button" class="ri-edit-box-line cursor-pointer" asp-page="./Edit" asp-route-id="@StSocialMedia.StSocialMediaId"></a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="7" class="text-center text-muted">Inga sociala medier hittades.</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

