@{
    if (Model != null)
    {
        string imagespagedir = CLCustAppsettings.IMAGE_PAGES_PATH!;
        List<modSitePage> sitepages = Model;

        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <div class="site-heading text-center wow fadeInDown" data-wow-delay=".25s">
                        <span class="site-title-tagline"><i class="fas fa-percent"></i> Information Area</span>
                        <h2 class="site-title">Våra <span>Pages</span></h2>
                    </div>
                </div>
            </div>
            <div class="row g-2">
                @{
                    foreach (var item in sitepages)
                    {
                        <div class="col-md-12 col-lg-6">
                            <div class="blog-item wow fadeInUp" data-wow-delay=".25s">
                                <div class="blog-item-img">
                                    <a href="..@item.pageurlid">
                                        @{
                                            if ((item.pagesmallbannerpic != null) && (!String.IsNullOrEmpty(item.pagesmallbannerpic)))
                                            {
                                                <img src="@(imagespagedir + "/" +  item.pageurlid!.Replace("/","") + "/" + item.pagesmallbannerpic)" alt="@item.pagetitle" title="@item.pagetitle">
                                            }
                                            else
                                            {
                                                <img src="assets/img/blog/01.jpg" alt="@item.pagetitle">
                                            }
                                        }
                                    </a>



                                </div>
                                <div class="blog-item-info">
                                    <h4 class="blog-title">
                                        <a href="blog-single.html">@item.pagetitle</a>
                                    </h4>
                                    <p>
                                        @item.pageshortdescription
                                    </p>
                                    <a class="theme-btn" href="..@item.pageurlid">Read More<i class="fas fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    }
}